{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Books</h1>
      <p>
      <a href="{% url 'bicycle_create' %}">
        <button type="button" class="btn btn-primary create-bicycle">
          <span class="glyphicon glyphicon-plus"></span>
          New bicycle
        </button>
        </a>
      </p>    
  <table class="table" id="bicycle-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for bicycle in bicycles %}
        <tr>
          <td>{{ bicycle.name }}</td>
          <td>{{ bicycle.make }}</td>
          <td>{{ bicycle.model }}</td>
          <td>{{ bicycle.year }}</td>
          <td>{{ bicycle.owner }}</td>
          <td><a href="{% url 'bicycle_update' bicycle.pk %}">Edit</a></td>
          <td><a href="{% url 'bicycle_delete' bicycle.pk %}">Delete</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No bikes</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
