{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/wisccc.css' %}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="font-family: Helvetica" class="navbar-brand" href="{% url 'wisc_cc_home' %}">
    Wisconsin Cover Crop Citizen Science Data Network
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" id="nav-home">
        <a class="nav-link" href="{% url 'wisc_cc_home' %}">Home</a>
      </li>
      <li class="nav-item" id="nav-graph">
        <a class="nav-link" href="{% url 'wisc_cc_graph' %}">Graph</a>
      </li>
      <li class="nav-item" id="nav-map">
        <a class="nav-link" href="{% url 'wisc_cc_map' %}">Map</a>
      </li>
      <li class="nav-item" id="nav-survey">
        <a class="nav-link" href="{% url 'wisc_cc_survey' %}">Survey</a>
      </li>
      <li class="nav-item" id="nav-about">
        <a class="nav-link" href="{% url 'wisc_cc_about' %}">About</a>
      </li>

    </ul>
    <span class="navbar-text">
      <div class="collapse navbar-collapse" id="mainMenu">

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ user.email }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'my_account'  %}">My account</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
        </ul>
        {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'wisc_cc_signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
        {% endif %}
      </div>
    </span>
  </div>
</nav>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title logo text-center">
            <a href="{% url 'wisc_cc_home' %}">
              Wisconsin Cover Crop<br>Citizen Science Data Network
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock content%}

</div>
<script>
  updateActive = function () {

    var whichpage = window.location.href.split("/").pop()
    if (whichpage.includes("graph")) {
      $("#nav-graph").addClass("active");
    }
    if (whichpage.includes("survey")) {
      $("#nav-survey").addClass("active");
    }
    if (whichpage.includes("home")) {
      $("#nav-home").addClass("active");
    }
    if (whichpage.includes("map")) {
      $("#nav-map").addClass("active");
    }
    if (whichpage.includes("map")) {
      $("#nav-about").addClass("active");
    }

  }
  updateActive()

</script>

<h1 class="text-center logo my-4">
  <img width="700" height="230" src="{% static 'img/logo_wisc_cc_affiliations_2.png' %}" />
</h1>
{% endblock %}
{% block title %}
Wisconsin Cover Crop Citizen Science Data Network
{% endblock title %}