{% extends 'wisccc/base_wisccc.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create an additional field for {{ farmer.first_name }} {{ farmer.last_name }}?
                </h3>

                <!-- Create a Form -->
                <form method="POST">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    <p>
                        This action will create an additional field for the {{ survey_farm.survey_year }} survey.
                    </p>


                    <input type="submit" value="Create" class="success btn btn-success" />
                    <a href="{% url 'wisc_cc_survey' %}/{{ survey_farm.survey_year }}/?farmer_id={{ farmer.id }}">
                        <button type="button" class="warn btn btn-secondary">
                            Cancel - back to survey edit page
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}