{% extends 'wisccc/base_survey.html' %}

{% block title %}Planting dates and timing{% endblock %}
{% load static %}
{% load crispy_forms_tags %}



{% block form %}

<head>
  {{ field_farm_form.media }}
</head>

<h3 class="card-title">IV. Research Field: Planting dates & timing</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'wisccc/includes/survey_2024/form_section_4_planting_dates_timing_surveyfield_part_1.html' %}
  {% include 'wisccc/includes/survey_2024/form_section_4_planting_dates_timing_surveyfarm.html' %}
  {% include 'wisccc/includes/survey_2024/form_section_4_planting_dates_timing_surveyfield_part_2.html' %}


  <button type="submit" class="noprompt-required btn btn-primary">Submit</button>
  <a href="{% url 'wisc_cc_survey' %}"><button type="button" class="btn btn-secondary">Back to survey home
      page</button></a>


</form>

{% endblock %}