{% extends 'wisccc/base_survey.html' %}

{% block title %}Section 3{% endblock %}
{% load static %}
{% load crispy_forms_tags %}



{% block form %}

<head>
  {{ form.media }}
</head>

<h3 class="card-title">IV. Final Thoughts</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'wisccc/includes/form_3.html' %}

  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{% url 'wisc_cc_survey' %}"><button type="button" class="btn btn-secondary">Back to survey home
      page</button></a>

</form>

{% endblock %}