{% extends 'wisccc/base_wisccc.html' %}
{% load static %}
{% block title %}Welcome to Wisconsin Citizen Science Cover Crop Project {% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Welcome</h3>
        <p>Help gather data and learn about cover crop usage in Wisconsin</p>
        <div class="card-deck">

          <div class="card">
            <a href="{% url 'wisc_cc_survey' %}">
              <img class="card-img-top" width="200" height="200" src="{% static 'img/cover_crop_good_image.jpg' %}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Fill out cover crop survey</h5>
                <p class="card-text">To fill out a survey, click here.
                </p>

              </div>
            </a>
          </div>

          <div class="card">
            <a href="{% url 'wisc_cc_map' %}">
              <img class="card-img-top" width="200" height="200" src="{% static 'img/display_wisc_cc_map2.png' %}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">View map</h5>
                <p class="card-text">Explore the map where farmers have filled out surveys about cover crop usage.</p>

              </div>
            </a>
          </div>
          <div class="card">
            <a href="{% url 'wisc_cc_graph' %}">
              <img class="card-img-top" height="200" style="border:10px solid white;"
                src="{% static 'img/display_wisc_cc_graph.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Explore data</h5>
                <p class="card-text">Explore data we have collected about cover crops.</p>

              </div>
            </a>
          </div>
        </div>
        <!-- if perms.wisccc.survery_manager %} -->
        <br>
        <div class="card">

          <div class="card-header">
            Hello Administrator!
          </div>
          <div class="card-body">
            <h5 class="card-title">Download the data!</h5>
            <p class="card-text">To download the data click below</p>
            <a href="{% url 'wisccc_download_data' %}" class="btn btn-primary">Download</a>
          </div>
        </div>
        <!-- endif %} -->
      </div>
      <!-- <div class="card-footer text-muted text-center">
        Questions? See our <a href="{% url 'green_covr_references' %}">references page</a>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}