{% extends 'wisccc/base_wisccc.html' %}
{% load static %}
{% block scripts %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock scripts %}



{% block content %}
<style>
    a p,
    h5 {
        color: #212529;
    }
</style>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                <script type="text/javascript">
                    $(function () {
                        // Grab turnstile value
                        $('.noprompt-required').click(
                            function () { populateTurnstileField(); });

                        function populateTurnstileField() {
                            var response_val = $("input[name=cf-turnstile-response]").val();
                            $('#id_turnstile').val(response_val);
                        }

                    });

                </script>
                <h5>Create new researcher collaborator</h5>
                <a class="btn btn-info btn-sm" href="{% url 'wisccc_create_researcher_existing_user' %}">
                    Create new collaborator from existing user
                </a>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hr>
                    {% include 'wisccc/includes/form_wisc_signup.html' %}
                    <p>Please check the box to complete your signup.</p>
                    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAju8QRpruOM5bky"></div>
                    <hr>
                    {% include 'wisccc/includes/form_create_researcher.html' %}

                    <button type="submit" class="noprompt-required btn btn-primary">Submit</button>


                </form>

            </div>
        </div>
    </div>
    {% endblock %}