{% extends 'wisccc/base_wisccc.html' %}
{% load static %}

{% block title %}Welcome to Wisconsin Growers Citizen Science Network {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Welcome</h3>
        <p>Since 2020, farmers around Wisconsin have shared cover crop and other soil health practices with us. Each
          colored dot on the map represents one of their fields. Farmers completed a survey and collected cover crop
          samples in Fall 2020, 2021, 2022, or 2023.

        </p>

        <!-- Begin experiment -->

        <!-- Map -->
        <div class="card mb-3">
          <a href="{% url 'wisc_cc_map' %}">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'img/display_wisc_cc_map2.png' %}" alt="Map of participating farmers"
                  class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color:#212529;">Map of participating citizen science farmers.</h5>
                  <p class="card-text" style="color:#212529;">
                    Do you see your dot? <b>Click</b> each location for a popup box with cover crop types, seeding rate,
                    fertility management biomass (how much plant grew), and more.

                  </p>

                </div>
              </div>
            </div>
          </a>
        </div>

        <!-- Graph  -->
        <div class="card mb-3">
          <a href="{% url 'wisc_cc_graph' %}">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'img/display_wisc_cc_graph.png' %}" alt="Graph photo"
                  class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color:#212529;">Cover Crop Graphs</h5>
                  <p class="card-text" style="color:#212529;">
                    Change variables to explore locations, species, tillage and more.
                  </p>

                </div>
              </div>
            </div>
          </a>
        </div>


        <!-- Survey -->
        <div class="card mb-3">
          <a href="{% url 'wisc_cc_survey' %}">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'img/oats_berseem.jpg' %}" alt="Oats photo" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color:#212529;">Cover Crop Survey</h5>
                  <p class="card-text" style="color:#212529;">
                    Click here if you've registered to participate in this year's survey.
                  </p>

                </div>
              </div>
            </div>
          </a>
        </div>

        <hr>
        <p>Interested in participating? We welcome growers with all levels of experience and types of production
          systems. Click <a href="https://forms.gle/xPC9b78eCVKPmk6B6">HERE to register.</a></p>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 25%;"
          src="{% static 'img/qrcode_for_further.png' %}" />
        <hr>
        <br>
        <p> For more information on the project please visit the <a href="https://www.michaelfields.org/soil-health"
            target="_blank" rel="noopener noreferrer">Michael Fields Agricultural Institute
          </a> website. We are grateful to our collaborating Wisconsin farmers and our Soil Health Agricultural Research
          & Education
          (SHARE) project partners: the USDA-ARS Dairy Forage Research Center, The Nature Conservancy, UW-Madison's
          Center for Integrated Agricultural Systems.
        </p>

        <!-- End Experiment -->

        <!-- <div class="card-deck">

          <div class="card">
            <a href="{% url 'wisc_cc_survey' %}">
              <img class="card-img-top" width="200" height="200" src="{% static 'img/oats_berseem.jpg' %}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Cover Crop Survey</h5>
                <p class="card-text">Click here if you've registered to participate in this year's survey.
                </p>

              </div>
            </a>
          </div>

          <div class="card">
            <a href="{% url 'wisc_cc_map' %}">
              <img class="card-img-top" width="200" height="200" src="{% static 'img/display_wisc_cc_map2.png' %}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Map of cover crop practices & results by farm</h5>
                <p class="card-text">
                  Each colored dot on this map represents a field from a participating citizen science farmer. Farmers
                  completed a survey and collected crop samples in Fall 2020, 2021, 2022, or 2023. <b>Click</b> each
                  colored
                  dot for a popup box with cover crop types, seeding rate, fertility management and biomass (how much
                  plant grew), and more.
                </p>

              </div>
            </a>
          </div>
          <div class="card">
            <a href="{% url 'wisc_cc_graph' %}">
              <img class="card-img-top" height="200" style="border:10px solid white;"
                src="{% static 'img/display_wisc_cc_graph.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Cover Crop Data Graphs</h5>
                <p class="card-text">Change variables to explore locations, species, tillage and more.</p>

              </div>
            </a>
          </div>


        </div>
        <hr>
        <p>Interested in participating? We welcome growers with all levels of experience and types of production
          systems. Click <a href="https://forms.gle/xPC9b78eCVKPmk6B6">HERE to register.</a></p>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 25%;"
          src="{% static 'img/qrcode_for_further.png' %}" />
        <hr>
        <br>
        <p>We are grateful to our collaborating Wisconsin farmers and our Soil Health Agricultural Research & Education
          (SHARE) project partners: the USDA-ARS Dairy Forage Research Center, The Nature Conservancy, UW-Madison's
        </p> -->
        {% if perms.wisccc.survery_manager %}
        <br>
        <div class="card">


          <div class="card-deck">
            <div class="card">

              <div class="card-header">
                Hello Administrator!
              </div>
              <div class="card-body">
                <h5 class="card-title">Download the data!</h5>
                <p class="card-text">To download the data click below</p>
                <a href="{% url 'wisccc_download_data' %}" class="btn btn-primary">Download</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">View survey responses</h5>
                <p class="card-text">View and edit survey responses.</p>
                <a href="{% url 'response_table' %}" class="btn btn-primary">View responses</a>

              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- <div class="card-footer text-muted text-center">
        Questions? See our <a href="{% url 'green_covr_references' %}">references page</a>
      </div> -->
      </div>
    </div>
  </div>
  {% endblock %}