{% extends 'wisccc/base_wisccc.html' %}
{% load static %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5>Scenarios</h5>
                <select id="ScenarioSelector" class="selectize-control single selectize-input">
                    <option value="erosion_control">Erosion control</option>
                    <option value="nutrient_scavenger">Nutrient scavenger</option>
                    <option value="n_credits">N Credits</option>
                </select>
                <div id="fieldcard-container" class="card-columns">
                    <!-- <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="fieldDetail" tabindex="-1" role="dialog" aria-labelledby="helpInformationLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Details
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <p id="fq_milkton"></p>
                    <p id="total_nitrogen"></p>
                    <div>
                        <p id="caption_photo_1"></p><img id="image_1_url" src="" width="250" height="250">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var dataurl = '/get_wisc_cc_data';
        var soilsLayer;

        $.getJSON(dataurl, function (data) {
            soilsLayer = data;
            updateFieldCards()
            console.log("ready!")
        });

        var scenario_selector = document.getElementById('ScenarioSelector');
        scenario_selector.addEventListener('change', function (ev) {
            updateFieldCards();
        });


        function updateFieldCards() {
            //Remove existing cards
            $("#fieldcard-container").find(".field").remove()
            // Filter our fields
            var filtered_data = filterData(soilsLayer);
            // Make cards
            initListOfFieldCards(filtered_data);

        };

        function filterData(soilsLayer) {
            // What scenario?
            var scenario = $('#ScenarioSelector').val();
            // Each scenario will have a different function for 
            //  filtering and sorting
            let filtered_data;
            switch (scenario) {
                case "erosion_control":
                    filtered_data = soilsLayer.slice(0, 10)
                    break;
                case "nutrient_scavenger":
                    filtered_data = soilsLayer.slice(11, 20)
                    break;
                case "n_credits":
                    filtered_data = soilsLayer.slice(21, 30)
                    break;
            }
            return filtered_data;
        }

        function prettyTextPlantingDetails(fieldRecord) {
            let planting_date = new Date(fieldRecord.properties.cc_planting_date);
            let str_planting_date = planting_date.toLocaleDateString(
                "en-US",
                { year: 'numeric', month: 'long', day: 'numeric' }
            )
            fieldRecord.properties.cc_seeding_method
            let cc_seeding_method

            let textDetails = "This farm planted " +
                fieldRecord.properties.cc_species +
                " following " + fieldRecord.properties.previous_crop + ".";
            // Clean up seeding method

            text.innerText += "The cover crop was " +
                fieldRecord.properties.cc_seeding_method + " on " +
                str_planting_date;

        }
        let cardContainer;
        // fieldRecord is one instance of a field from our data
        let createFieldCard = (fieldRecord) => {

            let card = document.createElement('div');
            card.className = 'card field';
            card.id = "field-" + fieldRecord.id

            let cardBody = document.createElement('div');
            cardBody.className = 'card-body';


            let img = document.createElement('img');
            img.src = fieldRecord.properties.image_1_url;
            img.className = "card-img-top";

            let title = document.createElement('h5');
            title.innerText = fieldRecord.id;
            title.className = 'card-title';

            let text = document.createElement('p');
            // If it was a mix we need an article: "a mix of..."
            text.innerText = "This farm planted " +
                fieldRecord.properties.cc_species +
                " following " + fieldRecord.properties.previous_crop + ".";
            // Clean up seeding method
            // Format time.
            text.innerText += "The cover crop was " +
                fieldRecord.properties.cc_seeding_method + " on " +
                str_planting_date;
            text.className = 'card-text';

            let btn = document.createElement('a');
            btn.className = "btn btn-primary"
            btn.innerText = "More info"
            // btn.href = "/wisc_cc_graph"
            btn.setAttribute("data-toggle", "modal");
            btn.setAttribute("data-target", "#fieldDetail");
            btn.setAttribute("data-fieldid", fieldRecord.id);

            cardBody.appendChild(img);
            cardBody.appendChild(title);
            cardBody.appendChild(text);
            cardBody.appendChild(btn);

            card.appendChild(cardBody);
            cardContainer.appendChild(card);

        }
        let initListOfFieldCards = (data) => {
            // if (cardContainer) {
            //     document.getElementById('fieldcard-container').replaceWith(cardContainer);
            //     return;
            // }

            cardContainer = document.getElementById('fieldcard-container');
            // var tasks = soilsLayer.slice(slice_start, slice_end);
            data.forEach((fieldRecord) => {
                createFieldCard(fieldRecord);
            });
        };

        // Populate Modal
        $('#fieldDetail').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var fieldid = button.data('fieldid') // Extract info from data-* attributes

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)

            var dat = soilsLayer.find((element) => element.id == parseInt(fieldid))
            $('.modal-title').text("Field " + dat.id);
            $('#fq_milkton').text(dat.properties.fq_milkton);
            $('#total_nitrogen').text(dat.properties.total_nitrogen);
            if (dat.properties.caption_photo_1 == "" | dat.properties.caption_photo_1 == null) {
                $('#caption_photo_1').text("");
            } else {
                $('#caption_photo_1').text(dat.properties.caption_photo_1);
            }
            if (dat.properties.image_1_url == "" | dat.properties.image_1_url == null) {
                $("#image_1_url").attr("src", "#");
            } else {
                $("#image_1_url").attr("src", dat.properties.image_1_url);
            }

        })

    </script>

    {% endblock %}