{% extends 'wisccc/base_wisccc.html' %}
{% load static %}
{% block title %}Welcome to Wisconsin Citizen Science Cover Crop Project {% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Welcome {{ user.username }}</h3>

        <p>Thank you for doing this survey. We're excited for this fourth season of our cover crop citizen science
          project, and to be able to add a spring biomass element. You are part of a state-wide collaborative effort to
          develop sound cover crop strategies for Wisconsin. You're also helping improve tools like SnapPlus and
          developing better cost-effective strategies for reducing erosion and conserving nutrients.</p>

        <p>We will be in touch to be sure the biomass sampling is going ok, and to share other project info. After you
          fill out the survey, check out the map and graph of the data we've collected so far! Please contact
          Mrill Ingram <a href="mailto:mingram@wisc.edu">(mingram@wisc.edu)</a> with any questions</p>

        <p>Dan Smith, Mrill Ingram, Ricardo Costa Silva, Gregg Sanford.</p>


        {% if completed_0 and completed_1 and completed_2 and completed_3 %}

        <h5>Thank you!</h5>

        <p>Thank you for completing our survey. We will be in touch if we have any questions regarding your responses.
          If you would like to come back and edit your answers, you can do so by revisiting this page.</p>

        {% endif %}


        <p>There are four sections to the survey.</p>
        <div class="col-md-10">
          <div class="list-group">
            {% if completed_0 %}
            <a href="{% url 'wisc_cc_survey0' %}"
              class="list-group-item list-group-item-action list-group-item-success">I. About You - Completed! Click to
              edit your response.</a>
            {% else %}
            <a href="{% url 'wisc_cc_survey0' %}"
              class="list-group-item list-group-item-action list-group-item-warning">I. About You</a>
            {% endif %}

            {% if completed_1 %}
            <a href="{% url 'wisc_cc_survey1' %}"
              class="list-group-item list-group-item-action list-group-item-success">II. General Farm Characteristics -
              Completed! Click to
              edit your response.</a>
            {% else %}
            <a href="{% url 'wisc_cc_survey1' %}"
              class="list-group-item list-group-item-action list-group-item-warning">II. General Farm
              Characteristics</a>
            {% endif %}

            {% if completed_2 %}
            <a href="{% url 'wisc_cc_survey2' %}"
              class="list-group-item list-group-item-action list-group-item-success">III. "Research Field" Cover Crop
              Information - Completed! Click to
              edit your response.</a>
            {% else %}
            <a href="{% url 'wisc_cc_survey2' %}"
              class="list-group-item list-group-item-action list-group-item-warning">III. "Research Field" Cover Crop
              Information</a>
            {% endif %}


            {% if completed_3 %}
            <a href="{% url 'wisc_cc_survey3' %}"
              class="list-group-item list-group-item-action list-group-item-success">IV. Final Thoughts - Completed!
              Click
              to
              edit your response.</a>
            {% else %}
            <a href="{% url 'wisc_cc_survey3' %}"
              class="list-group-item list-group-item-action list-group-item-warning">IV. Final Thoughts</a>
            {% endif %}

          </div>
        </div>
        <br>


        <!-- <div class="card-footer text-muted text-center">
          Questions? See our <a href="#">references page</a>
          
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}