{% extends 'wisccc/base_wisccc.html' %}
{% load static %}
{% block title %}Welcome to Wisconsin Growers Citizen Science Network {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Welcome!</h3>


        <p>Thanks for your interest in becoming a research partner.</p>

        <p>
          We have been collecting data about social and agronomic factors around cover crops for several years.
          The more people interested in analyzing our data the larger our impact.
          Email Mrill Ingram <a href="mailto:mingram@wisc.edu">(mingram@wisc.edu)</a> with any questions
        </p>

      </div>
    </div>
    <br>


    <!-- <div class="card-footer text-muted text-center">
          Questions? See our <a href="#">references page</a>
          
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div> -->
  </div>
</div>
</div>
</div>
{% endblock %}