{% extends 'wisccc/base_wisccc.html' %}
{% load static %}

{% block content %}
<style>
    a p,
    h5 {
        color: #212529;
    }
</style>

<head>
    {{ form.media }}
</head>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                <script type="text/javascript">
                    $(function () {
                        // Grab turnstile value
                        $('.noprompt-required').click(
                            function () { populateTurnstileField(); });

                        function populateTurnstileField() {
                            var response_val = $("input[name=cf-turnstile-response]").val();
                            $('#id_turnstile').val(response_val);
                        }

                    });

                </script>
                <h5>Sign up</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% include 'wisccc/includes/form_wisc_signup.html' %}
                    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAju8QRpruOM5bky"></div>
                    <button type="submit" class="noprompt-required btn btn-primary">Submit</button>
                    <a href="{% url 'wisc_cc_survey' %}">
                        <button type="button" class="warn btn btn-secondary">
                            Back to survey home page
                        </button>
                    </a>
                    <div class="text-center py-2">
                        <small>
                            <a href="{% url 'password_reset' %}" class="text-muted">
                                Reset password?
                            </a>
                        </small>
                    </div>

                </form>

            </div>
        </div>
    </div>
    {% endblock %}