{% extends 'wisccc/base_survey.html' %}

{% block title %}Update Lab Data{% endblock %}
{% load static %}
{% load crispy_forms_tags %}



{% block form %}

<head>
  {{ form.media }}
</head>


<h3 class="card-title">Fall and Spring (below) {{ survey_year }} Field Data for {{ first_and_last_name }}</h3>



<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'wisccc/includes/form_ancillary_data.html' %}



  <button type="submit" class="noprompt-required btn btn-primary">Submit</button>
  {% if survey_year == 2023 %}
  <a href="{% url 'response_table' %}">
    <button type="button" class="warn btn btn-secondary">
      Back to survey home page
    </button>
  </a>
  {% else %}
  <a href="{% url 'wisc_cc_survey' %}/{{ survey_year }}/?farmer_id={{ farmer_id }}">
    <button type="button" class="warn btn btn-secondary">
      Back to survey edit page
    </button>
  </a>
  {% endif %}


</form>



{% endblock %}