{% extends 'wisccc/base_wisccc.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
    integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .popupphoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 1px solid #555;
    }

    .selectize-dropdown,
    .selectize-input {
        width: 200px !important;
    }

    .selectize-short {
        width: 175px !important
    }
</style>
<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <p>Todos</p>
                    <ul>
                        <s>
                            <li>Set up modal</li>
                        </s>
                        <s>
                            <li>Build erosion control sorter and filterer</li>
                        </s>
                        <s>
                            <li>Build nutrient scavenger sorter and filterer</li>
                        </s>
                        <s>
                            <li>Build n credits sorter and filterer</li>
                        </s>
                        <s>
                            <li>Tidy cards - brief description and county</li>
                        </s>
                        <li>Make pretty modal of field details</li>
                        <ul>
                            <li>planting rate and <s>intial soil conditions</s></li>
                            <li>manuring info</li>
                            <li>field acreage</li>
                            <s>
                                <li>tillage</li>
                                <li>termination</li>
                            </s>
                            <li>forage quality info</li>
                            <li>nutrient info</li>
                            <s>
                                <li>growing conditions: gdd and precip</li>
                            </s>
                            <s>
                                <li>soil texture</li>
                            </s>
                        </ul>
                        <s>
                            <li>Build soil type filter</li>
                        </s>
                        <s>
                            <li>Build geography filter</li>
                        </s>
                        <s>

                            <li>Build weed suppression sorter and filterer</li>
                            <li>Build grazing fall sorter and filterer</li>
                            <li>Build grazing spring sorter and filterer</li>
                        </s>
                        <li>Make "I" hovers to describe scenarios</li>
                        <li>Pretty cards? More description?</li>

                    </ul>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Scenarios</h5>
                                <p class="card-text">
                                    <select id="ScenarioSelector" class="selectize-control single selectize-input">
                                        <option value="erosion_control">Erosion control</option>
                                        <option value="nutrient_scavenger">Nutrient scavenger</option>
                                        <option value="n_credits">N Credits</option>
                                        <option value="weed_suppression">Weed suppression</option>
                                        <option value="graze_fall">Fall grazing</option>
                                        <option value="graze_spring">Spring grazing</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Filters</h5>
                                <p class="card-text">
                                    <select id="filterSoilType">
                                    </select>
                                </p>
                                <p class="card-text">
                                    <select id="filterCounty">
                                    </select>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div id="fieldcard-container" class="card-columns"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="fieldDetail" tabindex="-1" role="dialog" aria-labelledby="helpInformationLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p id="caption_photo_1"></p><img id="image_1_url" class='popupphoto' src="" width="250"
                                height="250">
                        </div>
                        <p id="text_description_1"></p>
                        <p id="text_description_2"></p>
                        <p id="text_description_3"></p>
                        <p id="text_manure"></p>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

            // Populate Modal
            $('#fieldDetail').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget) // Button that triggered the modal
                var fieldid = button.data('fieldid') // Extract info from data-* attributes

                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)

                var fieldRecord = soilsLayer.find((element) => element.id == parseInt(fieldid))
                $('.modal-title').text("Field " + fieldRecord.id);
                $('#text_description_1').text(
                    prettyTextPlantingDetails(fieldRecord)
                );

                $('#text_description_2').text(
                    prettyTextTillTermAddlDetails(fieldRecord)
                );

                $('#text_description_3').text(
                    prettyTextFallAddlDetails(fieldRecord)
                );

                if (fieldRecord.properties.caption_photo_1 == "" | fieldRecord.properties.caption_photo_1 == null) {
                    $('#caption_photo_1').text("");
                } else {
                    $('#caption_photo_1').text(fieldRecord.properties.caption_photo_1);
                }
                if (fieldRecord.properties.image_1_url == "" | fieldRecord.properties.image_1_url == null) {
                    $("#image_1_url").attr("src", "#");
                } else {
                    $("#image_1_url").attr("src", fieldRecord.properties.image_1_url);
                }

            })


            var dataurl = '/get_wisc_cc_data';
            var soilsLayer;

            $.getJSON(dataurl, function (data) {
                soilsLayer = data;

                console.log("ready!")
                // Populate selectize boxes
                for (k in Object.keys(boxes_select)) {

                    var id_selector = Object.keys(boxes_select)[k];
                    var target_field = boxes_select[id_selector]

                    var placeholder = "All";
                    if (target_field == "dominant_soil_texture") {
                        placeholder = "Soil texture"
                    } else if (target_field == "county_single") {
                        placeholder = "County"
                    }
                    $("#" + id_selector).selectize({
                        plugins: ["remove_button"],
                        delimiter: " - ",
                        placeholder: placeholder,
                        persist: false,
                        closeAfterSelect: true,
                        maxItems: null,
                        valueField: "value",
                        labelField: "label",
                        searchField: ["value", "label"],
                        options: pop_selectize_box(soilsLayer, id_selector, target_field),
                        onChange: function (value, isOnInitialize) {

                            updateFieldCards()

                        }
                    })
                };

                updateFieldCards()
            });

            var scenario_selector = document.getElementById('ScenarioSelector');
            scenario_selector.addEventListener('change', function (ev) {
                updateFieldCards();
            });


            function updateFieldCards() {
                //Remove existing cards
                $("#fieldcard-container").find(".field").remove()
                // Filter our fields
                var filtered_data = soilsLayer;
                console.log("starting length: " + filtered_data.length)
                filtered_data = scenarioSortData(filtered_data);
                console.log("After scenario: " + filtered_data.length)
                filtered_data = applyFilters(filtered_data);
                console.log("after filtering: " + filtered_data.length)
                // Make cards
                initListOfFieldCards(filtered_data);

            };

            function applyFilters(filtered_data) {
                // Applies county and soil type filters
                for (k in Object.keys(boxes_select)) {

                    id_selector = Object.keys(boxes_select)[k];
                    target_field = boxes_select[id_selector]

                    filtered_data = filterDataSelectize(filtered_data, id_selector, target_field)

                }
                return filtered_data;

            }

            function filterDataSelectize(filtered_data, id_selector, target_field) {


                var array = $('#' + id_selector).selectize()[0].selectize.getValue()

                if (array == null | array.length == 0) {
                    return filtered_data
                }

                return filtered_data.filter(function (d) {
                    if (d.properties[target_field] == null) { return false }
                    return array.includes(d.properties[target_field].toString())
                });
            }

            function scenarioSortData(soilsLayer) {
                // What scenario?
                var scenario = $('#ScenarioSelector').val();
                // Each scenario will have a different function for 
                //  filtering and sorting
                let filtered_data = soilsLayer;
                switch (scenario) {
                    case "erosion_control":
                        filtered_data = erosionControlProcessor(filtered_data);
                        break;
                    case "nutrient_scavenger":
                        filtered_data = nutrientScavengerProcessor(filtered_data);
                        break;
                    case "n_credits":
                        filtered_data = nCreditsProcessor(filtered_data);
                        break;
                    case "weed_suppression":
                        filtered_data = weedSuppressionProcessor(filtered_data);
                        break;
                    case "graze_spring":
                        filtered_data = grazeSpringProcessor(filtered_data);
                        break;
                    case "graze_fall":
                        filtered_data = grazeFallProcessor(filtered_data);
                        break;
                }
                return filtered_data;
            }

            function erosionControlProcessor(filtered_data) {
                // erosion control sorter
                //  remove cases where fall biomass is null
                //  sort by most to least biomass

                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.cc_biomass !== null })
                    .toSorted((a, b) => b.properties.cc_biomass - a.properties.cc_biomass);

                return filtered_data;
            }

            function nutrientScavengerProcessor(filtered_data) {
                // Nutrient scavenger sorter
                //  remove cases where fall biomass is null
                //  remove cases where fall total nitrogen is null
                //  remove cases where a legume was planted
                //  sort by most to least total total nitrogen * biomass
                for (fieldRecord of filtered_data) {
                    fieldRecord.properties.n_by_bio = fieldRecord.properties.total_nitrogen * fieldRecord.properties.cc_biomass;
                }

                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.cc_biomass !== null })
                    .filter(function (d) { return d.properties.total_nitrogen !== null })
                    .filter(function (d) {
                        if (d.properties.cc_species == null) {
                            return false
                        }
                        return d.properties.cc_species.indexOf("legume") == -1

                    });
                // Why the fuck I have to sort this twice, I don't know.
                filtered_data = filtered_data
                    .toSorted((a, b) => +a.properties.n_by_bio - +b.properties.n_by_bio)
                    .toSorted((a, b) => +a.properties.n_by_bio + +b.properties.n_by_bio);


                return filtered_data;
            }

            function nCreditsProcessor(filtered_data) {
                // N credits
                // remove cases where no biomass
                // remove cases where there is no legume
                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.cc_biomass !== null })
                    .filter(function (d) {
                        if (d.properties.cc_species == null) {
                            return false
                        }
                        return d.properties.cc_species.indexOf("legume") > -1

                    })
                    .toSorted((a, b) => b.properties.cc_biomass - a.properties.cc_biomass);

                return filtered_data;
            };

            function weedSuppressionProcessor(filtered_data) {
                // spring Biomass and plant height
                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.spring_cc_biomass != null })
                    .filter(function (d) { return d.properties.spring_height_of_stand != null })
                    .toSorted((a, b) => b.properties.spring_cc_biomass - a.properties.spring_cc_biomass || b.properties.spring_height_of_stand - a.properties.spring_height_of_stand)


                return filtered_data;

            }

            function grazeFallProcessor(filtered_data) {
                // Fall grazing, sort by biomass and then RFQ
                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.cc_biomass !== null })
                    .filter(function (d) { return d.properties.fq_rfq !== null })
                    .toSorted((a, b) => b.properties.cc_biomass - a.properties.cc_biomass || b.properties.fq_rfq - a.properties.fq_rfq);

                return filtered_data;

            }

            function grazeSpringProcessor(filtered_data) {
                // Spring grazing: sort by 
                // spring biomass and then spring rfq
                filtered_data = filtered_data
                    .filter(function (d) { return d.properties.spring_cc_biomass !== null })
                    .filter(function (d) { return d.properties.spring_fq_rfq !== null })
                    .toSorted((a, b) => b.properties.spring_cc_biomass - a.properties.spring_cc_biomass || b.properties.spring_fq_rfq - a.properties.spring_fq_rfq);

                return filtered_data;

            }


            function prettifySeedingMethod(cc_seeding_method) {
                // For adding the seeding method into a sentance
                // "The cover crop was [pretty seeding method] on [planting date]"
                let pretty_seeding_method;
                switch (cc_seeding_method) {

                    case "frost seeded":
                        pretty_seeding_method = "frost seeded"
                        break;
                    case "broadcast, no incorporation":
                        pretty_seeding_method = "broadcast without incorporating"
                        break;
                    case "drilled":
                        pretty_seeding_method = "drilled"
                        break;
                    case "broadcast + incorporation":
                        pretty_seeding_method = "broadcast with incorporation"
                        break;
                    case "early interseeded-- broadcast":
                        pretty_seeding_method = "interseeded early by broadcast"
                        break;
                    case "late interseeded-- broadcast":
                        pretty_seeding_method = "interseeded late by broadcast"
                        break;
                    case "late interseeded-- aerial":
                        pretty_seeding_method = "interseeded late by aerial planting"
                        break;
                    case "aerial":
                        pretty_seeding_method = "aerially broadcast"
                        break;
                    case "interseed(early)":
                        pretty_seeding_method = "interseeded early"
                        break;
                    case "interseed(late)":
                        pretty_seeding_method = "interseeded late"
                        break;
                    case "other":
                        pretty_seeding_method = "was planted on"
                        break;

                }
                return pretty_seeding_method;
            }

            function prettifyInitialSoilConditions(soil_conditions) {
                // Formats the initial soil conditions so it nicely slots into
                //  a sentence like "The soil [had adequate moisture|was dry|was wet] at planting."
                let pretty_soil_conditions;
                switch (soil_conditions) {

                    case null:
                        pretty_soil_conditions = null;
                        break;

                    case "adequate":
                        pretty_soil_conditions = "had adequate moisture"
                        break;

                    case "adequate moisture":
                        pretty_soil_conditions = "had adequate moisture"
                        break;

                    case "dry":
                        pretty_soil_conditions = "was dry"
                        break;

                    case "Rained 1/2 inch that night dry before":
                        pretty_soil_conditions = "was wet"
                        break;

                    case "wet":
                        pretty_soil_conditions = "was wet"
                        break;

                }
                return pretty_soil_conditions;


            }

            function prettifyPreviousCrop(previous_crop) {
                // formats the previous crop so it slots into a sentence
                //  like "this cover crop was planting following [pretty_previous_crop]"
                let pretty_previous_crop;
                switch (previous_crop) {
                    case "alfalfa":
                        pretty_previous_crop = "alfalfa"
                        break;
                    case "corn for grain":
                        pretty_previous_crop = "corn grown for grain"
                        break;
                    case "corn silage":
                        pretty_previous_crop = "corn silage"
                        break;
                    case "livestock feeding/grazing":
                        pretty_previous_crop = "livestock grazing"
                        break;
                    case "corn silage":
                        pretty_previous_crop = "corn silage"
                        break;
                    case "oats":
                        pretty_previous_crop = "oats"
                        break;
                    case "other forage":
                        pretty_previous_crop = "a forage crop"
                        break;
                    case "other grain":
                        pretty_previous_crop = "a grain crop"
                        break;
                    case "other small grains":
                        pretty_previous_crop = "a small grains crop"
                        break;
                    case "soybeans":
                        pretty_previous_crop = "soybeans"
                        break;
                    case "vegetable crop":
                        pretty_previous_crop = "a vegetable crop"
                        break;
                    case "wheat":
                        pretty_previous_crop = "wheat"
                        break;
                    case "winter wheat":
                        pretty_previous_crop = "winter wheat"
                        break;
                }
                return pretty_previous_crop
            }

            function prettyTextPlantingDetails(fieldRecord) {
                // Add planting rate, initial soil conditions,

                let planting_date = new Date(fieldRecord.properties.cc_planting_date);
                let str_planting_date = planting_date.toLocaleDateString(
                    "en-US",
                    { year: 'numeric', month: 'long', day: 'numeric' }
                )

                // Clean up seeding method
                let cc_seeding_method = prettifySeedingMethod(fieldRecord.properties.cc_seeding_method);
                let previous_crop = prettifyPreviousCrop(fieldRecord.properties.previous_crop)
                let textDetails = "This farm planted " +
                    fieldRecord.properties.cc_species_raw +
                    " following " + previous_crop + ". ";


                textDetails += "The cover crop was " +
                    cc_seeding_method + " on " +
                    str_planting_date + ". ";
                let pretty_soil_conditions = prettifyInitialSoilConditions(fieldRecord.properties.soil_conditions);
                if (pretty_soil_conditions != null) {
                    textDetails += "The soil " + pretty_soil_conditions + " at planting."
                }


                return textDetails;
            }

            function prettifyDate(str_date) {
                // str_date of the format "2022-10-01T00:00:00+00:00"
                if (str_date == null) { return null };
                let date_obj = new Date(str_date);
                let str_format_date = date_obj.toLocaleDateString(
                    "en-US",
                    { year: 'numeric', month: 'long', day: 'numeric' }
                )
                return str_format_date;
            }

            function prettyTextFallAddlDetails(fieldRecord) {
                // Add a statement about the field's
                // field acreage, soil texture
                // biomass and height
                // growing conditions GDU and precip
                // "The field is dominanted by a [silt loam] soil texture{ and is [100] acres}.
                // When measured in the fall, the cover crop averaged [25] inches in height, with an average
                // of [1.6] tons of biomass per acre. From when it was planted 
                // on [August 6, 2024] to when it was sampled on [November 19, 2024] the field received an estimated
                // [1.5] inches of rain and [1500] growing degree units."
                let str_planting_date = prettifyDate(fieldRecord.properties.cc_planting_date);
                let str_fall_sampling_date = prettifyDate(fieldRecord.properties.cc_biomass_collection_date);

                var text_soil_texture;
                var text_fall_biomass;
                var text_fall_avg_height;
                var text_fall_growing_conditions;

                var dominant_soil_texture = fieldRecord.properties.dominant_soil_texture;
                if (dominant_soil_texture == "not sure") {
                    text_soil_texture = "The soil texture of the field is unknown. "
                } else {
                    text_soil_texture = "The field is dominated by a " + dominant_soil_texture + " soil texture. "
                }

                // fall biomass
                if (fieldRecord.properties.cc_biomass == null) {
                    text_fall_biomass = "Biomass was not sampled in the fall. "
                } else {
                    text_fall_biomass = "In the fall, the cover crop had an estimated " + fieldRecord.properties.cc_biomass +
                        " tons of biomass per acre. "
                }

                // Fall average height
                if (fieldRecord.properties.height_of_stand == null) {
                    text_fall_avg_height = "There is no average cover crop stand height measured for this field. "
                } else {
                    text_fall_avg_height = "The average cover crop stand height was " + fieldRecord.properties.height_of_stand +
                        " inches tall. "
                }

                // Fall growing conditions
                if (str_fall_sampling_date == null) {
                    text_fall_growing_conditions = ""
                } else {
                    text_fall_growing_conditions = "From when it was planted on " + str_planting_date +
                        " to when it was sampled on " +
                        str_fall_sampling_date +
                        " the field received an estimated " +
                        fieldRecord.properties.total_precip +
                        " inches of rain and " +
                        fieldRecord.properties.acc_gdd + " growing degree units. "
                }

                return text_soil_texture + text_fall_biomass + text_fall_avg_height + text_fall_growing_conditions;

            }

            function prettifyTermination(cc_termination) {
                // for making pretty cover crop termination sentence. Returns full sentence.
                let pretty_termination;
                switch (cc_termination) {
                    case "early spring, herbicide application (14 plus days prior to crop establishment)":
                        pretty_termination = "The cover crop was terminated with herbicide in the spring at least 14 days before cash crop establishment. "
                        break;
                    case "early spring, roller-crimper termination":
                        pretty_termination = "The cover crop was terminated with a roller-crimper in the spring. "
                        break;

                    case "fall frost":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "frost/winterkill - little to no cover crop growth in spring":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "frost/winterkill - little to no cover crop growth in spring, early spring, herbicide application (14 plus days prior to crop establishment)":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "frost/winterkill - little to no cover crop growth in spring, harvest for forage":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "frost/winterkill - little to no cover crop growth in spring, harvest for forage, plant green, herbicide termination":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "killing frost (fall)":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;
                    case "little to no cover crop growth in spring":
                        pretty_termination = "The cover crop was killed by the cold weather of the fall or winter, producing little to no growth in the spring. "
                        break;

                    case "graze fall":
                        pretty_termination = "The cover crop was terminated by fall grazing. "
                        break;
                    case "graze fall, frost/winterkill - little to no cover crop growth in spring, plant green, herbicide termination":
                        pretty_termination = "The cover crop was terminated by fall grazing. "
                        break;
                    case "graze spring":
                        pretty_termination = "The cover crop was terminated by spring grazing. "
                        break;
                    case "graze spring, plant green, herbicide termination":
                        pretty_termination = "The cover crop was terminated by spring grazing, with any remaining cover terminated with herbicide. "
                        break;

                    case "harvest for forage":
                        pretty_termination = "The cover crop was harvested for forage. "
                        break;
                    case "harvest for forage, plant green, herbicide termination":
                        pretty_termination = "The cover crop was harvested for forage, with any remaining cover crop terminated with herbicide. "
                        break;

                    case "plant green":
                        pretty_termination = "The cash crop was planted green into the living cover crop. "
                        break;

                    case "plant green, herbicide termination":
                        pretty_termination = "The cash crop was planted green into the living cover crop and later terminated with herbicide. "
                        break;
                    case "plant green, herbicide termination, graze fall":
                        pretty_termination = "The cash crop was planted green into the living cover crop and later terminated with herbicide. "
                        break;

                    case "plant green, roller-crimper termination":
                        pretty_termination = "The cash crop was planted green into the living cover crop and later terminated with a roller-crimper. "
                        break;

                    case "early":
                        pretty_termination = "The cover crop was terminated in the spring with a roller-crimper or herbicide. "
                        break;

                    case ".":
                        pretty_termination = "";
                        break;
                    case null:
                        pretty_termination = "";
                }

                return pretty_termination;

            }

            function prettifyResidue(residue_remaining, primary_tillage, secondary_tillage) {
                // for making pretty residue remaining. Returns full sentence.
                let pretty_residue;
                if (residue_remaining == "Conservation, >30% residue remaining") {
                    if (primary_tillage == "NONE" & secondary_tillage == "NONE") {
                        pretty_residue = "This farm used no-till. ";
                    } else {
                        pretty_residue = "This farm used conservation tillage, with greater than 30% of the residue remaining. ";
                    }
                } else if (residue_remaining == "Reduced, 15-30% residue remaining") {
                    pretty_residue = "This farm used reduced tillage, with between 15 and 30% of residue remaining. "
                } else if (residue_remaining == "Conventional, <15% residue remaining") {
                    pretty_residue = "This farm used conventional tillage, with less than 15% of residue remaining. "
                }

                return pretty_residue;
            }

            function prettyTextTillTermAddlDetails(fieldRecord) {
                // For creating a paragraph about the farm's tillage,
                // termination of the cover crop.



                let text_termination = prettifyTermination(fieldRecord.properties.cc_termination);

                let text_residue_remaining = prettifyResidue(
                    fieldRecord.properties.residue_remaining,
                    fieldRecord.properties.tillage_equip_primary,
                    fieldRecord.properties.tillage_equip_secondary
                );

                return text_residue_remaining + text_termination;

            }

            let cardContainer;
            // fieldRecord is one instance of a field from our data
            let createFieldCard = (fieldRecord) => {

                let card = document.createElement('div');
                card.className = 'card field';
                card.id = "field-" + fieldRecord.id

                let cardBody = document.createElement('div');
                cardBody.className = 'card-body';

                let img = document.createElement('img');
                if (fieldRecord.properties.image_1_url != null) {
                    img.src = fieldRecord.properties.image_1_url;
                } else if (fieldRecord.properties.image_2_url != null) {
                    img.src = fieldRecord.properties.image_2_url;
                }

                img.className = "card-img-top";

                let title = document.createElement('h5');
                title.innerText = fieldRecord.properties.county_single + " County, WI; Farm: " + fieldRecord.properties.farm_id + "; Field: " + fieldRecord.id;
                title.className = 'card-title';

                let text = document.createElement('p');
                // If it was a mix we need an article: "a mix of..."
                text.innerText = prettyTextPlantingDetails(fieldRecord);
                text.className = 'card-text';


                if (fieldRecord.properties.cc_biomass == null) {
                    biomass_text = ' '
                } else {
                    biomass_text = "Fall sampled biomass was " +
                        fieldRecord.properties.cc_biomass.toFixed(1) +
                        " tons per acre. ";
                }
                if (fieldRecord.properties.total_nitrogen == null) {
                    totN_text = ''
                } else {
                    totN_text = "Fall sampled N concentration was " +
                        fieldRecord.properties.total_nitrogen.toFixed(1) +
                        "%.";
                }
                let text_addl = document.createElement('p');
                text_addl.innerText = biomass_text + totN_text;

                let btn = document.createElement('a');
                btn.className = "btn btn-primary"
                btn.innerText = "More info"
                // btn.href = "/wisc_cc_graph"
                btn.setAttribute("data-toggle", "modal");
                btn.setAttribute("data-target", "#fieldDetail");
                btn.setAttribute("data-fieldid", fieldRecord.id);

                cardBody.appendChild(title);
                cardBody.appendChild(img);

                cardBody.appendChild(text);
                cardBody.appendChild(text_addl);
                cardBody.appendChild(btn);

                card.appendChild(cardBody);
                cardContainer.appendChild(card);

            }

            let initListOfFieldCards = (data) => {
                // Returning only top 15 here
                //  later if we want to show different "pages" of results
                //  this can be use to slice the filtered data at different points.
                cardContainer = document.getElementById('fieldcard-container');

                data
                    .slice(0, 15)
                    .forEach((fieldRecord) => {
                        createFieldCard(fieldRecord);
                    });
            };

            var boxes_select = {

                "filterCounty": "county_single",
                "filterSoilType": "dominant_soil_texture",
            }
            // $('#select_model_type').selectize();
            // $('#xFactor').selectize();
            // $('#select_color').selectize();

            // for populating select boxes
            var pop_selectize_box = function (geojson_data, id_selector, field_name) {
                var all_instances = [];
                for (item in geojson_data) {

                    all_instances.push(geojson_data[item]['properties'][field_name])

                }
                // Deduplicating
                const uniq_instances = [...new Set(all_instances)];
                uniq_instances.sort()
                var filt = document.getElementById(id_selector);
                var option_array = []
                uniq_instances.forEach(function (item) {
                    option_array.push({ label: item, value: item })
                })
                return option_array;
            }



        </script>

        {% endblock %}