{% extends 'wisccc/base_wisccc.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Welcome {{ user.username }}</h3>

        {% if completed_1 and completed_2 and completed_3 and completed_4 and completed_5 and completed_6 %}

        <h4>Thank you!</h4>

        <p>Thank you for completing our survey. If you would like to edit your answers, just click on one of the
          survey sections below. We will be in touch to be sure the biomass sampling is going ok, and to share other
          project info. Also, check out the map and graph of the data we've collected so far! Project information
          available on the Michael Fields website.</p>

        <p>Please contact
          Mrill Ingram <a href="mailto:mingram@wisc.edu">(mingram@wisc.edu)</a> with any questions</p>

        {% else %}

        <p>
          Welcome to the fifth season of our cover crop citizen science project.
          You are part of a state-wide collaborative effort to build practical knowledge about cover cropping in
          Wisconsin.
          You're also helping improve tools like SnapPlus and developing better
          cost-effective strategies for reducing erosion and conserving nutrients.
        </p>

        <p>
          We will be in touch to be sure the biomass sampling is going ok, and to share other project info. Also, check
          out the <a href="{% url 'wisc_cc_graph' %}">map and graph</a> of the data we've collected so far!
        </p>
        <p>Please contact Mrill Ingram <a href="mailto:mingram@wisc.edu">(mingram@wisc.edu)</a>
          or Dan Marzu <a href="mailto:dan.marzu@wisc.edu">(dan.marzu@wisc.edu)</a> with any questions</p>

        <p>
          The survey has seven sections, some of them very short.
          Please submit each section before leaving so you don’t lose the information you’ve put in.
        </p>


        {% endif %}


        <div class="col-md-10">
          <div class="list-group">
            {% if farmer.last_name is not None %}
            <a href="{% url 'wisc_cc_survey1' farmer.id %}"
              class="list-group-item list-group-item-action list-group-item-success">
              I. General info - completed! Click to edit your response.
            </a>
            {% else %}
            <a href="{% url 'wisc_cc_survey1' farmer.id %}"
              class="list-group-item list-group-item-action list-group-item-warning">
              I. General info
            </a>
            {% endif %}

            {% if survey_farm.percent_of_farm_cc is not None %}
            <a href="{% url 'wisc_cc_survey2' survey_farm.id %}"
              class="list-group-item list-group-item-action list-group-item-success">
              II. Cover cropping goals & support - completed! Click to edit your response.
            </a>
            {% else %}
            <a href="{% url 'wisc_cc_survey2' survey_farm.id %}"
              class="list-group-item list-group-item-action list-group-item-warning">
              II. Cover cropping goals & support
            </a>
            {% endif %}
          </div>

          {% for survey_field_id, dict_vals in dict_survey_fields.items %}

          <div class="card">
            <div class="card-header" id="headingOne">
              {% if dict_vals.is_completed %}
              <button class="btn btn-success btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                Field {{ forloop.counter }} click to see sections
              </button>
              {% else %}
              <button class="btn btn-warning btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                Field {{ forloop.counter }} click to see sections
              </button>
              {% endif %}

            </div>

            <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="list-group">
                  {% if dict_vals.section_3 %}
                  <a href="{% url 'wisc_cc_survey3' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-success">
                    III. Research Field: Crop rotation and planting rates - completed! Click to edit your response.
                  </a>
                  {% else %}
                  <a href="{% url 'wisc_cc_survey3' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-warning">
                    III. Research Field: Crop rotation and planting rates
                  </a>
                  {% endif %}


                  {% if dict_vals.section_4 %}
                  <a href="{% url 'wisc_cc_survey4' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-success">
                    IV. Research Field: Planting dates & timing - completed! Click to edit your response.
                  </a>
                  {% else %}
                  <a href="{% url 'wisc_cc_survey4' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-warning">
                    IV. Research Field: Planting dates & timing
                  </a>
                  {% endif %}

                  {% if dict_vals.section_5 %}
                  <a href="{% url 'wisc_cc_survey5' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-success">
                    V. Research Field: Manure, tillage, soil conditions - completed! Click to edit your response.
                  </a>
                  {% else %}
                  <a href="{% url 'wisc_cc_survey5' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-warning">
                    V. Research Field: Manure, tillage, soil conditions
                  </a>
                  {% endif %}

                  {% if dict_vals.section_6 %}
                  <a href="{% url 'wisc_cc_survey6' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-success">
                    VI. Research Field: Cover crop seeding & cost - completed! Click to edit your response.
                  </a>
                  {% else %}
                  <a href="{% url 'wisc_cc_survey6' survey_field_id %}"
                    class="list-group-item list-group-item-action list-group-item-warning">
                    VI. Research Field: Cover crop seeding & cost
                  </a>
                  {% endif %}

                </div>
              </div>
            </div>

          </div>
          {% endfor %}

          <div class="card">
            <div class="card-header">

              {% if one_incomplete %}
              <a class="list-group-item list-group-item-action list-group-item-warning">
                Please finish the survey for all your current fields before adding another field.
              </a>
              {% else %}
              <a href="{% url 'create_addtl_surveyfield' survey_farm.id %}"
                class="list-group-item list-group-item-action list-group-item-success">
                Add another field to this survey. Please note support for sampling this additional field may not be
                available.
              </a>

              {% endif %}
            </div>
          </div>

          <div class="list-group">
            {% if survey_farm.encourage_cc is not None %}
            <a href="{% url 'wisc_cc_survey7' survey_farm.id %}"
              class="list-group-item list-group-item-action list-group-item-success">
              VII. Final thoughts - completed! Click to edit your response.
            </a>
            {% else %}
            <a href="{% url 'wisc_cc_survey7' survey_farm.id %}"
              class="list-group-item list-group-item-action list-group-item-warning">
              VII. Final thoughts
            </a>
            {% endif %}

          </div>
        </div>
        <hr>
        {% if perms.wisccc.survery_manager %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h3 class="card-title">Reviewer notes and accuracy confirmation</h3>
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              {{ form_surveyfarm_review.notes_admin|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              {{ form_surveyfarm_review.confirmed_accurate|as_crispy_field }}
            </div>
          </div>

          <button type="submit" class="noprompt-required btn btn-primary">Submit</button>
          <a href="{% url 'response_table' %}">
            <button type="button" class="warn btn btn-secondary">
              Back to survey response table
            </button>
          </a>

        </form>
        {% endif %}
        <br>


        <!-- <div class="card-footer text-muted text-center">
          Questions? See our <a href="#">references page</a>
          
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}