{% extends 'wisccc/base_wisccc.html' %}
{% load static %}



{% block content %}
<style>
    a p,
    h5 {
        color: #212529;
    }
</style>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h5>Thank you {{ user.username }}!</h5>

                <p class="card-text">
                    Welcome! Thank you for joining the Wisconsin Cover Crop Citizen Science Data Network.
                    We will be in touch soon with more information on the survey and cover crop sampling,
                    both of which happen in the Fall.
                    Please reach out to
                    <a href="mailto:dan.marzu@wisc.edu">
                        Dan Marzu at
                    </a>
                    or
                    <a href="mailto:mingram@wisc.edu">
                        Mrill Ingram
                    </a>
                    with any questions.
                </p>
                <a href="{% url 'wisc_cc_survey' %}">
                    <button type="button" class="noprompt-required btn btn-primary">
                        Start survey
                    </button>
                </a>
                <a href="{% url 'wisc_cc_home' %}">
                    <button type="button" class="noprompt-required btn btn-primary">
                        Return to Homepage
                    </button>
                </a>



            </div>
        </div>
    </div>
    {% endblock %}