{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Reset your password</h3>
        <p>Due to spam issues, we have had to temporarily suspend the password reset feature.</p>
        <p>
          Please reach out to <a href="mailto:mingram@wisc.edu">Mrill Ingram </a>
          for getting your password reset.
        </p>
        <p>Our apologies for this disruption.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}