{% extends 'kanopy/base_kanopy.html' %}

{% block title %}Welcome to Green CovR{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Your submission was successful! </h3>
            <p>
            Thank you for submitting data to MOSH
            If you have more photos to submit, return to the submission page <a href="{% url 'kanopy_upload' %}">here</a>. 
            Or visit the <a href="mosh.umn.edu">Minnesota Office for Soil Health web page.</a>
            
            </p>
            
            <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Uploaded at</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in request.session.submissions %}
                  <tr>
                    <td>{{ submission.location_name }}</td>
                    <td>{{ submission.uploaded_at }}</td>
                    <td><img src="{{ submission.image_url }}" width="250" height="250"> </td>
                    
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="3">You have not uploaded any photos or metadata yet.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>            
        </div>
          <!-- <form method="post" novalidate> -->
            <!-- {% csrf_token %} -->
            <!-- {% include 'includes/form.html' %} -->
            <!-- <button type="submit" class="btn btn-primary btn-block">Create an account</button> -->
          <!-- </form> -->
        </div>
        <div class="card-footer text-muted text-center">
          Dave Evans built this website in collaboration with MOSH and the Wilson Lab, which developed the Green CovR algorithm.
        </div>
      </div>
    </div>
  </div>
{% endblock %}