{% extends 'kanopy/base_kanopy.html' %}

{% block title %}Welcome to Green CovR{% endblock %}

{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <style>
    card-img {
      width: 50%;
      height: auto;
    }
  </style>
  <div style="display:none;" id="div-nodisplay">
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body" id='master-card-body' >
          <h3 class="card-title">Submissions</h3>
          
        </div>
        <div class="card-footer text-muted text-center">
          Questions? See our references <a href="#">page</a>
        </div>
      </div>
    </div>
  </div>
  
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>  
<script>

    
    // var sjdocs = {{ sjdocs|safe }};
    var sjdocs = JSON.parse('{{ sjdocs|escapejs }}');
    for (i=0; i<10; i++){
      $("#div-nodisplay").append(
        "<img id='src-image-" + sjdocs[i].id + "' src='" + sjdocs[i].image + "' >"
      );
    };
    var sub_holder = $("<div/>");
    sub_holder.addClass("col-md-10");
    sub_holder.attr("id", "sub-holder");

    function draw() {
      for (i=0; i<10; i++){
        console.log("Document number: " + i);
        console.log("ID number: " + sjdocs[i].id);
        var canvas = document.getElementById('dst-cnvs-' + sjdocs[i].id);
        var context = canvas.getContext('2d');
        var src_img = document.getElementById('src-image-' + sjdocs[i].id);
        context.drawImage(src_img, 0, 0, src_img.width * 1/5, src_img.height * 1/5);
        // context.drawImage(src_img, 0, 0, src_img.width, src_img.height,
        //                             0, 0, canvas.width, canvas.height)
        };    
      };
    function showSubmissions() {
      //Remember to wipe away first

      // for (i=0; i<sjdocs.length; i++) {
      for (i=0; i<10; i++) {

        var update_url = "groundcover_update/" + sjdocs[i].id;
        var uploaded_at = new Date(sjdocs[i].uploaded_at);
        // Look into using thumbnails
        // https://umbracofreelancer.uk/blog/post/create-thumbnails-using-javascript/
        var image_url = sjdocs[i].image;
        var id = sjdocs[i].id;
        // var image_url = "{% static 'img/cover_crop_good_image.jpg' %}";
        var location_name = sjdocs[i].location_name;
        var comment = sjdocs[i].comment;
        var cover_crop_species_1= sjdocs[i].cover_crop_species_1;
        var photo_taken_date = new Date(sjdocs[i].photo_taken_date);
        
        // console.log(sjdocs[i].location_name);<canvas class="card-img" id="myCanvas" ></canvas>
        sub_holder.append(
          '<div class="row no-gutters">  <div class="col-sm-5">  <canvas class="card-img" id="dst-cnvs-' + 
            id + '" ></canvas>  </div>  <div class="col-sm-7"><div class="card-body"><h5 class="card-title">' + 
              location_name + '</h5> <h6 class="card-subtitle mb-2 text-muted">Uploaded on ' + 
                uploaded_at.toLocaleDateString() + ', photo taken on ' + 
                  photo_taken_date.toLocaleDateString() + '</h6> <p class="card-text">' + 
                    cover_crop_species_1 + '</p> <a href="' + 
                    update_url + '" class="btn btn-primary">Open</a> </div>  </div></div>'
        ); 
      };
      
      $("#master-card-body").append(sub_holder);
    };
    showSubmissions();
    draw();

    var map = L.map('mapid').setView([44.67, -93.17], 7);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo( map );
     
    function onEachFeature(feature, layer) {
		var popupContent = "<dl><dt>Location name</dt> <dd>" + feature.properties.location_name + "</dd>" +
				"<dt>Date uploaded</dt> <dd>" + feature.properties.photo_taken_date + "</dd>" +
                "<dt>Cover crop</dt> <dd>" + feature.properties.cover_crop_species_1 + "</dd>" +
                "<dt>Photo</dt> <dd>"  + '<img src="' + feature.properties.image_url + '" width="250" height="250">' + "</dd>"
                + "</dl>";

		if (feature.properties && feature.properties.popupContent) {
			popupContent += feature.properties.popupContent;
		}

		layer.bindPopup(popupContent);
	}
    
    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff0000",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };
    
    var dataurl = '/kanopy_submissions_json';
    
    
    var soilsLayer;
    var soilsPoints = [];
    var soilsCircle = $.getJSON(dataurl, function(data) {
        soilsLayer = data;
        L.geoJSON(data, {
            pointToLayer: function (feature, latlng) {
                soilsPoints.push(latlng);
                return L.circleMarker(latlng, geojsonMarkerOptions);
            },
            
            
		    onEachFeature: onEachFeature
        }).addTo(map);
        map.fitBounds( soilsPoints );
     });
     
     
    
</script> 


    

{% endblock %}
