<!DOCTYPE HTML>
<!-- stackoverflow.com/questions/53288059 -->
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <!-- <body onload="draw();"> -->
  <body></body>
    
    <div style="display:none;" id="div-nodisplay">
      <img id="good-cc-img" src="{% static 'img/cover_crop_good_image.jpg' %}" >
    </div>
    <div id="sub-14" class="card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-5">
            <canvas class="card-img" id="dst-cnvs-14" ></canvas>
          </div>
          <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title">Location name 14</h5>
                <h6 class="card-subtitle mb-2 text-muted">Uploaded on</h6>
                  <p class="card-text">Comment</p>
                  <a href="#" class="btn btn-primary">Open</a>
              </div>
          </div>
      </div>
    </div> 
    <div id="sub-17" class="card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-5">
            <canvas class="card-img" id="dst-cnvs-17" ></canvas>
          </div>
          <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title">Location name 17</h5>
                <h6 class="card-subtitle mb-2 text-muted">Uploaded on</h6>
                  <p class="card-text">Comment</p>
                  <a href="#" class="btn btn-primary">Open</a>
              </div>
          </div>
      </div>
    </div>      
    <div id="sub-20" class="card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-5">
            <canvas class="card-img" id="dst-cnvs-20" ></canvas>
          </div>
          <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title">Location name 20 </h5>
                <h6 class="card-subtitle mb-2 text-muted">Uploaded on</h6>
                  <p class="card-text">Comment</p>
                  <a href="#" class="btn btn-primary">Open</a>
              </div>
          </div>
      </div>
    </div>     
    <script>
      var sjdocs = JSON.parse('{{ sjdocs|escapejs }}');
      // for (i=0; i<sjdocs.length; i++){
        // $("#div-nodisplay").append(
        //   "<img id='src-image-" + sjdocs[i].id + "' src='" + sjdocs[i].image + "' >"
        // );
      // };
      var myList = [14, 17, 20];
      function draw() {
        for (i=0; i<sjdocs.length; i++){
          var sub_id = sjdocs[i].id;
          console.log("ID: " + sub_id);
          if(myList.indexOf(sub_id) >= 0){
            console.log("Found it.");
            var src_url = sjdocs[i].image;
            
            var dst_cnvs = document.getElementById('dst-cnvs-' + sub_id);
            var ctx = dst_cnvs.getContext('2d');
            var img = new Image();
            img.onload = function() {
              ctx.drawImage(img, 0, 0);
            };          
            img.src = src_url;

          };

        };
        // var canvas = document.getElementById('myCanvas');
        // var context = canvas.getContext('2d');
        // var src_img = document.getElementById('good-cc-img');

        // imageObj.onload = function() {
            // context.drawImage(imageObj, 0, 0);
        // };
        // context.drawImage(src_img, 0, 0, src_img.width, src_img.height,
                                    // 0, 0, canvas.width, canvas.height)
        // imageObj.src = "{% static 'img/cover_crop_good_image.jpg' %}"; 
        };
    </script>
  </body>
</html>      
  
