{% load crispy_forms_tags %}


<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.biomass_or_just_survey|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.do_you_have_a_biomas_kit|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.belong_to_groups|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.howd_you_hear|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.do_you_need_assistance|as_crispy_field }}
    </div>
</div>
{{ registration_form.errors}}