{% load crispy_forms_tags %}


<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.biomass_or_just_survey|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.do_you_have_a_biomas_kit|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.belong_to_groups|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.howd_you_hear|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.do_you_need_assistance|as_crispy_field }}
    </div>
</div>

<h4>Our confidentiality commitment</h4>
<p>
    We appreciate your interest in improving cover crops and aim to protect your privacy and respect your time.
<ol>

    <li>
        Contact information is never shared.
    </li>
    <li>
        We share aggregated cover crop agronomic data with educators and researchers but field locations are anonymized
        and all field information you provide is stored securely and will never be associated with any contact
        information.
    </li>
    <li>
        We'll provide you cover crop lab results specific to your farm as well as a summary of statewide findings.
    </li>
    <li>
        Your participation is voluntary and you can leave the project at any time.
    </li>
</ol>
If you have any questions, please reach out to
<ul>
    <li>Project Lead <a href="mailto:mingram@wisc.edu">Mrill Ingram</a>, Michael Fields Agricultural Institute, at 608
        695-6405, or
    </li>
    <li>
        <a href="mailto:dan.marzu@wisc.edu">Dan Marzu</a>, UW Nutrient & Pest Management Program at 608-381-6702, or
    </li>
    <li>
        Principal UW-Madison Investigator <a href="mailto:gsandford@wisc.edu">Gregg Sanford</a> at 608-333-5447.
    </li>
</ul>
</p>


<div class="form-row">
    <div class="form-group col-md-10 mb-0">
        {{ registration_form.privacy_consent|as_crispy_field }}
    </div>
</div>



{{ registration_form.errors}}