{% load crispy_forms_tags %}


<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.years_experience|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.total_acres|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.percent_of_farm_cc|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.dominant_soil_series_1|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.dominant_soil_series_2|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.dominant_soil_series_3|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.dominant_soil_series_4|as_crispy_field }}
    </div>
</div>
<div>
    <h5>Sources of Support</h5>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_nutrient_mgmt_1|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_nutrient_mgmt_2|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_nutrient_mgmt_3|as_crispy_field }}
    </div>
</div>
<div class="form-row">

    <div class="form-group col-md-8 mb-0">
        {{ form.source_nutrient_mgmt_write_in|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.cov_crops_for_ntrnt_mgmt_comments_questions|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_cover_crops_1|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_cover_crops_2|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.info_source_cover_crops_3|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.info_source_cover_crops_write_in|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.info_source_cover_crops_social_media|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.support_cover_crops_1|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.support_cover_crops_2|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.support_cover_crops_3|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.support_cover_crops_write_in|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.lacking_any_info_cover_crops|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.like_to_expand_cover_crops|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.barriers_to_expansion|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.top_risks_of_cover_cropping_mgmt|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.quit_planting_cover_crops|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2 mb-0">
        {{ form.use_crop_insurance|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.if_use_crop_insurance|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.why_cover_crops_1|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.why_cover_crops_2|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.why_cover_crops_3|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.why_cover_crops_4|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.why_cover_crops_write_in|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.cover_crops_delay_cash_crop|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2 mb-0">
        {{ form.save_cover_crop_seed|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.source_cover_crop_seed|as_crispy_field }}
    </div>
</div>

{{ form.errors}}